@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    background: #00BFFF;
}

#root {
    width: 100%;
    height: 100%;
}

ul {
   margin: 0;
   padding: 0;
   list-style: none;

   display: grid;
   grid-template-columns: 1fr 1fr;
   gap: 10px;
   justify-content: center;
   align-items: center;
}
