.repo-list {
    list-style: none;
}

.repo-list li {
    max-width: 700px;
    max-height: 250px;
    background: #fff;
    margin: 20px auto;
    padding: 15px;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.repo-list span {
    font-size: 32px;
    font-weight: bold;
}

.repo-list p {
    margin: 12px 0;
    color: #666;
    font-size: 18px;
    font-style: italic;
}

.repo-list a {
    color: #00BFFF;
    text-decoration: none;
    font-size: 16px;
    border: 1px solid #00BFFF;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;

    transition: background 0.8s;
}

.repo-list a:hover {
    background: #00BFFF;
    color: #fff;
}

.home-button, .page-button {
    padding: 10px;
    border-radius: 15px;
    background: #fff;
    position: fixed;
    left: 100px;   
}

.home-button {
    border: 1px solid #fff;
    top: 50px;
}

.home-button, .page-button:hover {
   background: #F8F8FF;
}

.home-button::before {
    content: url('./assests/baseline_home_black_18dp.png');
}

.page-button {
    border: 0;
    cursor: pointer;
}

.page-button[disabled] {
    opacity: 0.5;
    background: #fff;
}

#prev {
    top: 150px;
}

#next {
    top: 250px;
}

#prev::before {
    content: url('./assests/baseline_keyboard_arrow_left_black_18dp.png');
}

#next::before {
    content: url('./assests/baseline_keyboard_arrow_right_black_18dp.png');
}